.header input:checked ~ .user{
    @media #{$medium} {
        background-color: $black;
    }
}

.header input:checked ~ .user-menu{
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    box-shadow: none;    
}

.header input ~ .user-menu{
   transform-origin: 0% 0%;
   transform: translate(0%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header input:checked ~ .user-menu::before{
    display: none;
}