@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=latin-ext');
$font: 'Open Sans', sans-serif;

$black: #000000;
$white: #ffffff;
$red: #ff0022;
$blue: #03adfd; 
$gray: #2e2e2e;

$small: "(min-width: 480px)";
$medium: "(min-width: 768px)";
$large: "(min-width: 1024px)";
$xlarge: "(min-width: 1380px)";