@import "normalize";
@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    overflow:hidden;
}

@import "header";
@import "logo";
@import "search-bar";
@import "categories-nav";
@import "search-mobile";
@import "sell-button";
@import "user";
@import "user-menu";

@import "menu-display";